build/
*.so
__pycache__/
kernel/__pycache__
kernel/*.so
kernel/*.c
kernel/*.a
fwi2d/__pycache__
fwi2d/*.so
fwi2d/pyacofwi2D.c
fwi2d/*.a
tomo/__pycache__
tomo/*.so
tomo/pyfm2d.c
tomo/*.a
pyvi/__pycache__
fwi/__pycache__
prior/__pycache__
